ul li {
  list-style: none;
}

.fa-twitter-square {
  color: #1da1f2;
}
.fa-instagram-square {
  color: #e4405f;
}
.social-links a {
  text-decoration: none;
}
.social-links li {
  padding: 7px;
}
.proje {
  border: 5px dashed red;
}

hr {
  height: 2px;
  background-color: #333;
  margin: 20px 0;
}

#ben {
  animation-name: dönüş;
  animation-duration: 40s;
  animation-iteration-count: infinite;
}

@keyframes dönüş {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.çizgi::after {
  content: "";
  transition: 1s;
  width: 0;
  display: block;
  height: 4px;
  background-color: #333;
}
.çizgi:hover::after {
  width: 100%;
}
.fa-arrow-up {
  border: 3px solid black;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  position: fixed;
  bottom: 70px;
  background-color: yellow;
}

.fa-whatsapp-square {
  color: #25d366;
}
.ayar:focus{
  outline: none;
}
.harita{
width: 100%;
height: 100%;
}
.formbuton{

  outline: none;
}
.formbuton:hover{
  transform: scale(0.98);
}
